*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    font-family:'Courier New', 'Courier', 'monospace';
    margin: 10px auto;
}
label{
    font-weight: bold;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
}
button{
    background-color: #007BFF;
    padding: 5px 15px;
    border: none;
    color: white
}
button:hover{ /*Añade un borde si pasas el ratón por encima*/
    border: 1px black solid;
}
.result{
    margin-top: 20px; 
}
.text{ /*Para dar estilos a el texto que se muestra por pantalla*/
    margin-top: 10px;
}